body {
    font-family: 'Poppins', sans-serif;

    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    background-color: green;

    display: grid;
    grid-template-rows: 50px 1fr 50px 30px;

    color: white;
}

header {
    grid-row: 1 / span 1;
    
    background-color: orange;
    border-bottom: 5px solid purple;
}

nav {
    margin: 15px;
}

main {
    grid-row: 2 / span 1;
}

aside {
    grid-row: 3 / span 1;
}

footer {
    grid-row: 4 / span 1;
    background-color: rgba(182, 96, 65, 0.758);
    color: black;
}

.nav_item {
    display:inline;
    padding-right:20px;
    margin: 20px;
}

.nav_item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
}

nav .active {
    color: blue;
    font-weight: bold;
}

i {
    height: auto;
    width: 16px;
    animation-name: fade;
    animation-duration: 6s;
    justify-content: center;
    align-self: center;
}

@media (prefers-reduced-motion: reduce) {
    header img {
        animation: none;
    }
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 15px;
    text-align: left;
    color: white;
}

img {
    height: 40%;
    width: 40%;
    padding: 10px 5px;
    margin: 20px auto;
    border: 5px dotted red;
    background-color: lightpink;
    min-width: 300px;
}

img:hover {
    height: 60%;
    width: 60%;
    border: 5px solid brown;
    background-color: orange;
    min-width: 400px;
}

#galleryArticle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media all and (min-width: 800px) {
    body {
        grid-template-rows: 50px 1fr 30px;
        grid-template-columns: 4fr 1fr;
    }

    header {
        grid-column: 1 / span 2;
    }

    main {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    aside {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    footer {
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
    }

    aside {
        align-self: center;
    }
}